In [135]:
from faker import Faker
import pandas as pd
import random

fake = Faker()
gen_num = 10000

csvDF = pd.read_csv("./employees.csv")
country_dist = {
    "India": 0.76,
    "China": 0.12,
    "Canada": 0.01,
    "South Korea": 0.009,
    "Philippines": 0.006,
    "Taiwan": 0.006,
    "Mexico": 0.006
}
department_dist = {
    "Legal": 0.05,
    "Marketing": 0.10,
    "Administrative": 0.10,
    "Operations": 0.20,
    "Sales": 0.10,
    "Finance": 0.05,
    "I/T": 0.10,
    "Product": 0.20,
    "Human Resource": 0.10
}

In [136]:
headers = csvDF.columns.to_list()
headers

['First Name',
 'Last Name',
 'Email',
 'Phone',
 'Gender',
 'Age',
 'Job Title',
 'Years Of Experience',
 'Salary',
 'Department']

In [137]:
departments = csvDF["Department"].drop_duplicates().to_list()
departments += ["Legal", "Marketing", "Administrative", "Operations", "Sales", "Finance", "I/T"]

In [138]:
job_titles = csvDF["Job Title"].drop_duplicates().to_list()
job_titles.remove("HR Manager")

job_titles

['Project Manager',
 'Machine Learning Engineer',
 'Web Developer',
 'Mobile Developer',
 'DevOps Engineer',
 'Designer',
 'Tester']

In [139]:
num_rows = len(csvDF)
csvDF.insert(10, "SSN", ["0"] * num_rows)
csvDF.insert(11, "Languages", ["English"] * num_rows)
csvDF.insert(12, "Languages Count", [1] * num_rows)
csvDF.insert(13, "US Citizen", [True] * num_rows)

In [140]:
def generate_salaries(department):
    salary_ranges = {
        "Legal": (80000, 150000),
        "Marketing": (50000, 120000),
        "Administrative": (60000, 200000),
        "Operations": (50000, 150000),
        "Sales": (50000, 180000),
        "Finance": (71000, 130000),
        "I/T": (80000, 180000),
        "Product": (70000, 150000),
        "Human Resource": (80000, 150000)
    }
    return random.randint(*salary_ranges[department])

In [141]:
def makeData():
    fname = fake.first_name_nonbinary()
    lname = fake.last_name_nonbinary()
    email = fake.email()
    number = fake.phone_number()
    gender = random.choice(['male', 'female'])
    age = random.randint(18,66)
    job_title = ""
    years_of_work = random.randint(0, age-18)
    sal = random.randint(30000, 200000)
    department = random.choice(departments)
    if department == "Human Resource":
        job_title = "HR Manager"
    else:
        job_title = random.choice(job_titles)
    ssn = fake.ssn()
    languages_spoken = random.choices(
        ["Spanish", "Chinese", "Hindi", "Arabic", "French", "German"], k=random.randint(0, 2)
    )
    languages_count = len(languages_spoken)+1
    us_citizen = random.choices([True, False], weights=[0.60, 0.40])[0]
    if not us_citizen:
        country = random.choices(list(country_dist.keys()), weights=country_dist.values())[0]
    else:
        country = "USA"
    return [fname, lname, email, number, gender, age, job_title, years_of_work, 
            sal, department, ssn, 
            "English" + (", " + ", ".join(languages_spoken) if languages_count > 0 else ""), 
            languages_count, us_citizen]

In [142]:
new_data = [makeData() for _ in range(gen_num)]
ndDF = pd.DataFrame(new_data)
ndDF.columns = headers + ["SSN", "Languages", "Languages Count", "US Citizen"]
num_rows = len(csvDF)

In [143]:
ndDF

,First Name,Last Name,Email,Phone,Gender,Age,Job Title,Years Of Experience,Salary,Department,SSN,Languages,Languages Count,US Citizen
0,Sean,Gonzalez,matthew55@example.net,(453)384-9205x0241,female,41,Tester,8,137519,Legal,625-71-1999,"English, Arabic",2,True
1,Joyce,Farrell,joshua50@example.net,001-520-484-0154x86656,male,56,Tester,35,95650,Administrative,283-62-3586,"English,",1,True
2,Andre,Oliver,ashley98@example.com,+1-753-489-6985x305,female,46,Tester,4,90370,Product,797-47-9693,"English,",1,True
3,Margaret,Mejia,richard42@example.com,001-499-812-6205,female,30,HR Manager,10,163552,Human Resource,295-44-6503,"English,",1,False
4,Marcus,Schmidt,brandon43@example.com,(992)288-0769,female,23,DevOps Engineer,0,166499,Product,731-93-3684,"English, French",2,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,Nicole,Villegas,xrandall@example.net,+1-418-795-3769,female,54,Project Manager,17,130198,Administrative,596-94-1172,"English, Chinese, French",3,True
9996,Joanna,Chapman,kiarajohnson@example.org,434-991-0748,male,46,HR Manager,2,83508,Human Resource,214-52-0712,"English,",1,False
9997,Leah,Perkins,xrowe@example.net,001-719-690-4270x352,male,42,Web Developer,17,137879,Finance,705-75-5622,"English, Spanish",2,False
9998,Mark,Little,joneskenneth@example.org,001-922-910-5443,female,31,DevOps Engineer,5,96198,I/T,224-85-3473,"English, German, German",3,True
9999,Leslie,Savage,cervantesmary@example.net,001-837-324-4649x55511,female,48,HR Manager,30,187485,Human Resource,618-41-3340,"English,",1,False