In [123]:
import pandas as pd

In [124]:
df = pd.read_csv("./Hwy26Crashes2019_S23.csv")

In [125]:
df.head()

,Crash ID,Record Type,Vehicle ID,Participant ID,Participant Display Seq#,Vehicle Coded Seq#,Participant Vehicle Seq#,Serial #,Crash Month,Crash Day,...,Participant Cause 2 Code,Participant Cause 3 Code,Participant Event 1 Code,Participant Event 2 Code,Participant Event 3 Code,BAC Test Results Code,Alcohol Use Reported,Drug Use Reported,Participant Marijuana Use Reported,Participant Striker Flag
0,1809119,1,NaN,NaN,NaN,NaN,NaN,99992.0,3.0,14.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1809119,2,3409578.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1809119,3,3409578.0,3887884.0,1.0,1.0,1.0,NaN,NaN,NaN,...,NaN,0.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,1809119,2,3409579.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1809119,3,3409579.0,3887885.0,2.0,2.0,1.0,NaN,NaN,NaN,...,NaN,NaN,9.0,9.0,0.0,NaN,NaN,NaN,NaN,NaN

#b.1

In [126]:
try:
  print("Does each entry have a 'Vehicle Ownership Code'?")
  assert df['Vehicle Ownership Code'].all() == True
except:
  print("Not every entery has a 'Vehichle Ownership Code'. This is bad!")
else:
  print("They all do have codes!")

Does each entry have a 'Vehicle Ownership Code'?
Not every entery has a 'Vehichle Ownership Code'. This is bad!

#b.2

In [127]:
try:
  print("Excluding NaN values, are all Serial # < 6 digits")
  assert (int(df['Serial #'].dropna().max()) >= 100000) == False
except:
  print("No, there happens to be a Serial # > six digits in size")
else:
  print("Yes! They all have less than 6 digits for Serial #")

Excluding NaN values, are all Serial # < 6 digits
Yes! They all have less than 6 digits for Serial #

#b.3

In [128]:
try:
  print("Every turning leg also must have a median type.")
  condition = df['Number of Turning Legs'].notnull() & df['Median Type'].isnull()
  assert not condition.any()
except:
  print("Unfortunately, every turning leg doesn't have a median type.")
else:
  print("HUZZAH! Every turning leg has a median type.")

Every turning leg also must have a median type.
HUZZAH! Every turning leg has a median type.

#b.4

In [129]:
try:
  print("Every crash has a 'Crash ID'. Every crash has a 'Record Type'.")
  assert df['Crash ID'].notnull
  assert df['Record Type'].notnull
except:
  print("Seems as if either a crash ID is missing, or a record type is.")
else:
  print("WINNER WINNER! CHICKEN DINNER! Every crash has a 'Crash ID'. Every crash has a 'Record Type'.")

Every crash has a 'Crash ID'. Every crash has a 'Record Type'.
WINNER WINNER! CHICKEN DINNER! Every crash has a 'Crash ID'. Every crash has a 'Record Type'.

#b.5

In [130]:
try:
  print("Most crashes have a participant ID. Most Crashes have a Vehicle ID.")
  assert df['Participant ID'].count() > df['Participant ID'].isnull().sum(), "There are more crashes WITHOUT a Participant ID than there are with.\n\tThis might because one crash ID is covering multiple vehlicles/circumstances."

  assert df['Vehicle ID'].count() > df['Vehicle ID'].isnull().sum(), "There are more crashes MISSING a Vehicle ID than there are that have one."
except AssertionError as e:
  print("Failed: ", e)
else:
  print("Indeed.. Most crashes have a participant ID. Most Crashes have a Vehicle ID..")

Most crashes have a participant ID. Most Crashes have a Vehicle ID.
Failed:  There are more crashes WITHOUT a Participant ID than there are with.
	This might because one crash ID is covering multiple vehlicles/circumstances.

#b.6

In [131]:
try:
  print("Most crashes happen during the day.")
  count_7_15 = df['Crash Hour'].between(7, 15).sum()
  count_16_6 = df['Crash Hour'].between(16, 23).sum() + df['Crash Hour'].between(0, 6).sum()
  assert  count_7_15 > count_16_6, f"7am to 3pm totals: {count_7_15}, 4pm to 6am totals: {count_16_6}"
except AssertionError as e:
  print(f"FAILED: {e}")
else:
  print(f"Yes! Most crashes happen during the day. --- 7am to 3pm totals: {count_7_15}, 4pm to 6am totals: {count_16_6}")

Most crashes happen during the day.
Yes! Most crashes happen during the day. --- 7am to 3pm totals: 264, 4pm to 6am totals: 240

In [132]:
try:
  print("Most crashes occurred during the winter.")
  count_nw = df['Crash Month'].between(5, 10).sum()
  count_w = df['Crash Month'].between(11, 12).sum() + df['Crash Month'].between(1, 4).sum()
  assert  count_w > count_nw, f"May - October totals: {count_nw}, November - April totals: {count_w}"
except AssertionError as e:
  print(f"FAILED: {e}")
else:
  print(f"YUP! Most crashes occurred during the winter. --- May - October totals: {count_nw}, November - April totals: {count_w}")

Most crashes occurred during the winter.
YUP! Most crashes occurred during the winter. --- May - October totals: 217, November - April totals: 291

I re-wrote these last two to match my assumptions. I hadn't realized we would do this at some point in the exercise and jumped ahead wanting to get the answers I was seeking. Essentially, part of E was complete, and I didn't keep the failing ones.